@font-face {
    font-family: Novecentos;
    src: url(../fonts/Novecentosanswide-Bold.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: CustomIcons;
    src: url(../fonts/fontcustom.woff);
    font-weight: 400;
    font-style: normal;
}

body {
    background: #3c3c3c;
    font: normal normal 14px/1.4em Raleway,sans-serif;
    color: #3f3f3f;
}

a {
    color: #00d4d4;
}

.navbar {
    background-color: #f0f1f5;
    margin-top: 20px;
    z-index: 1050;
}

.navbar-nav {
    top: 20px;
    background-color: #f0f1f5;
}

.navbar-nav li {
    text-align: center;
    border-left: 1px solid #e0e0e0;
}

.navbar-nav li:first-child {
    text-align: center;
    border: none;
}

.nav-link {
    font-style: normal;
    font-weight: 400;
    font-family: Novecentos;
    color: #c7cbd4;
    font-size: 16px;
}

.nav-item i {
    display: none;
}

.sidebar{
    width: 100%;
    display: block;
    margin: 0;
    background-color: #555c70;
    color: #fff;
    padding: 15px 20px;
}

.content {
    background-color: #fff;
}

article {
    margin: 0;
}

article.full-color {
    background-color: #00bdbd;
    color: #fff;
}

article.full-color a {
    color: #e4e5eb;
}

h1 {
    font-family: Novecentos;
    font-size: 1.8em;
    opacity: .55;
}

h2 {
    margin: 0;
    display: block;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 56px;
    z-index: 1030;
    background: #00bdbd;
    padding: 25px 0;
    color: #fff;
    font-family: Novecentos;
    font-size: 1.3em;
    text-transform: uppercase;
    padding-left: 45px;
    padding-right: 65px;
}

h3 {
    margin: 0;
    display: block;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 125px;
    z-index: 1020;
    background: #f2f4f7;
    color: #abaeba;
    line-height: 55px;
    font-size: 1.1em;
    font-weight: bold;
    padding-left: 45px;
    padding-right: 70px;
}

h3.collapsable .collapse-icon {
    background: none;
    border: none;
    font-style: normal;
    float: right;
}

h3.collapsable .collapse-icon::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #abaeba;
    content: '\f146';
}

h3.collapsable.collapsed .collapse-icon::before {
    content: '\f0fe';
}

h3 i {
    margin-right: 15px;
}

article p {
    padding: 1em;
    text-align: justify;
}

.sidebar ul.about {
    color: #fff;
    font: normal normal 1em;
    opacity: .5;
    list-style: none;
    padding-left: 0;
    line-height: 2em;
    transition: all 0.5s;
}

.sidebar ul.external-links {
    list-style: none;
    margin: 2em auto;
    padding: 0;
    position: absolute;
    bottom: 0;
    right: 0;
}

.sidebar ul.external-links li {
    display: inline-block;
    margin: auto 1em;
    font-size: 1.5em;
}

.sidebar a {
    color: #c7cbd4
}

.fa-had {
    font-family: 'CustomIcons';
}

.fa-had:before {
    content: '\f15c';
}

.fa-had:hover{
    color: #c4aa6e;
}

.fa-twitter:hover{
    color: #55acee;
}

.fa-github:hover{
    color: #999;
}

.fa-linkedin-in:hover{
    color: #0077b5;
}

.sidebar #sidebar-profile-img {
    display: none;
}

#about {
    padding-bottom: 2em;
}

#about p {
    padding-top: 0;
    padding-bottom: 0;
}

#content-profile-img {
    width: 40%;
    max-width: 500px;
    margin: 1rem;
    padding: .5rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
    transition: all 0.5s;
}

#content-profile-img.docked{
    position: absolute;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 200px;
    display: none;
    position: -webkit-sticky;
    position: sticky;
    top: 250px;
    z-index: 1030;
    margin-top: -30px;
    float: left !important;
}

img#signature-img {
    margin: 0em 2em;
    display: block;
}

.timeline-entry {
    margin: 0 15px;
    border-bottom: solid 1px #d8d9db;
}

.timeline-entry:last-of-type {
    border-bottom: none;
}

.timeline-entry p:first-of-type {
    padding-top: 1em;
}

.timeline-entry .date, .task p:last-of-type {
    padding-bottom: 1em;
}

.timeline-entry .date img {
    margin: 0.5em auto;
    width: 130px;
}

.timeline-entry p {
    padding: 0;
}

.timeline-entry .date .from-to {
    color: #d8d9db;
    font: normal 800 1.2em;
    padding-top: 1em;
}

.timeline-entry .date .info {
    color: #626262;
    font: normal 800 0.8em;
}

.timeline-entry .date .location {
    color: #626262;
    font: normal 700 0.8em;
    margin-bottom: 0;
    padding-bottom: 0;
}

.timeline-entry .task .title {
    margin-bottom: 20px;
    color: #626262;
    font-size: 1.2em;
    font-weight: bold;
}

.timeline-entry .task .title::after {
    content: " ";
    display: block;
    width: 35px;
    height: 0;
    margin-top: 15px;
    border-bottom: 5px solid #00d4d4;
    border-radius: 3px;
}

.timeline-entry .task .description {
    font: normal normal 1em;
}

.skill-section h4 {
    color: #585858;
    font-size: 1.1em;
    font-weight: bold;
    padding: 25px;
    padding-bottom: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

.skill-section h5 {
    color: #585858;
    font-size: 0.9em;
    font-weight: bold;
    padding: 25px;
    padding-bottom: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

#skill-languages .language {
    display: inline-block;
    width: 120px;
}

.skill-section i.fa.filled{
    color: #00d4d4;
}

#skill-languages p {
    text-align: center;
}

#skill-languages .level {
    color: #cdcfd4;
    font-size: 1.2em;
    font-weight: bold;
    width: 120px;
    display: inline-block;
    text-align: right;
}

#skill-programming-languages .progress-bar {
    background-color: #00d4d4;
}

#skill-programming-languages p {
    width: 49%;
    display: inline-block;
}

#skill-knowledge p {
    width: 32%;
    display: inline-block;
}

#skill-knowledge .name {
    display: block;
}

#cv-interests ul {
    margin-top: 1.5rem;
    list-style: none;
}

#cv-interests li {
    display: inline-block;
    width: 49%;
    margin: 0.5rem 0;
}

#cv-interests li:before {
    margin-right: 10px;
    color: #00d4d4;
    font-family: 'Font Awesome 5 Free';
    font-size: 1.2em;
    content: "\f058";
}

#cv-hobbies ul {
    list-style: none;
    padding-top: 1.5rem;
    padding-bottom: 1.5em;
}

#cv-hobbies li {
    display: inline-block;
    width: 49%;
    color: #626262;
    font-weight: bold;
    margin: 0.5rem 0;
}

#cv-hobbies .fa {
    margin-right: 0;
    font-size: 1.2em;
    width: 40px;
    color: #abaeba;
    font-size: 2em;
}

#publications .row {
    border-bottom: 1px solid #d8d9db;
}

#publications .col-md-5, #publications .col-md-7 {
    padding: 0 2em;
}

#publications .row:last-child {
    border-bottom: none;
}

#publications .publication-title {
    background-repeat: no-repeat;
    background-position: 22px 28px;
}

#publications h4 {
    margin-top: 1em;
}

#publications h4, #publications p {
    padding: 0 1em 0 0;
    line-height: 1em;
    margin-bottom: 20px;
    color: #626262;
    font-size: 1em;
}

#publications h4 {
    margin-bottom: 20px;
    color: #626262;
    font-size: 1.2em;
    font-weight: bold;
}

#publications h4::after {
    content: " ";
    display: block;
    width: 35px;
    height: 0;
    margin-top: 15px;
    border-bottom: 5px solid #00d4d4;
    border-radius: 3px;
}

#publications p::before {
    font-weight: bold;
    font-size: 1em;
}

#publications .conference::before {
    content: 'Published in: ';
}

#publications .abstract::before {
    content: 'Abstract: ';
}

#publications .link {
    display: inline;
    font-size: 1em;
}

#projects .project {
    display: inline-block;
    background-size: 100% auto;
    background-position-y: center;
    background-repeat: no-repeat;
    width: 49%;
    padding-top: 49%;
    position: relative;
    overflow: hidden;
}

#projects .project .info {
    position: absolute;
    padding-left: 3em;
    padding-right: 3em;
    top: auto;
    bottom: 0%;
    left: 0;
    right: 0;
    background-color: #555c7065;
    color: #fff;
    transition: all 0.5s;
}

#projects .project:hover .info {
    bottom: 0;
}

#projects .project h4 {
    margin-top: 0.5em;
    padding: 0;
    font-size: 1.2em;
    font-weight: bold;
}

#projects .project p {
    padding: 0;
}

#projects .project .tags {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 0.5em;
}

#projects .project .tags li {
    display: inline-block;
    position: relative;
    padding: 0 10px;
    margin: 0 10px 0 0;
    height: 20px;
    background-color: #00bdbd;
    color: #fff;
    border-radius: 10px;
}

#contact h4 {
    margin: 25px;
    color: #626262;
    font-size: 1.2em;
    font-weight: bold;
}

#contact p {
    margin: 0 25px;
    padding: 0;
}

#contact h4::after {
    content: " ";
    display: block;
    width: 35px;
    height: 0;
    margin-top: 15px;
    border-bottom: 5px solid #00d4d4;
    border-radius: 3px;
}

@media (min-width: 992px) {
    
    .navbar{
        padding: .5rem 2em 0 2em;
    }

    .navbar-nav {
        background-color: transparent;
        height: 220px;
        display: block;
        height: 160px;
        z-index: 1030;
    }
    
    .navbar-nav li {
        display: inline-block;
        margin: 0;
        text-align: center;
        height: 100%;
        width: 150px;
    }
    
    .navbar-expand-lg .navbar-nav .nav-link{
        margin: 20px;
        padding-left: 0;
        padding-right: 0;
        text-transform: uppercase;
    }

    .nav-link i {
        color: #c7cbd4;
        display: block;
        padding: 0;
        margin: auto;
        padding: 0.5em 0;
        transition: all 0.5s;
        border-radius: 2em;
        width: 2.5em;
        height: 2.5em;
    }

    .nav-link:hover i {
        background-color: #abb3c7;
        color: #f0f1f5;
        display: block;
        padding: 0.7em;
    }

    .nav-item.active .nav-link i {
        background-color: #707a94;
        border-radius: 2em;
        padding: 0.7em;
        color: #00d4d4;
        display: block;
    }

    .nav-slider {
        display: block;
        width: 150px;
        height: 170px;
        margin-top: -15px;
        z-index: 1020;
        position: absolute;
        background-color: #e4e5eb;
        left: 28px;
        margin-left: 2.5px;
        transition: all 0.5s;
    }

    .col-lg-4{
        padding-right: 0;
    }

    .col-lg-8{
        padding-left: 0;
    }

    .sidebar {
        top: 168px;
        padding-top: 45px;
        padding-bottom: 45px;
        height: 70vh;
    }

    .sidebar ul.external-links {
        left: 0;
        text-align: center;
    }

    .sidebar ul.external-links li {
        margin-bottom: 1em;
    }

    .content {
        height: 70vh;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        flex-wrap: nowrap;
    }

    article {
        flex: 0 0 100%;
        max-width: 100%;
        max-height: 70vh;
        overflow-y: auto;
        position: relative;
        transition: left 0.5s;
        left: 0;
    }

    .sidebar > * {
        transition: all 0.5s;
    }

    .sidebar ul.external-links {
        margin-top: 6em;
    }

    h2 {
        top: 0;
    }

    h3 {
        top: 70px;
    }

    article p {
        padding: 1em 3em 1em 3em;
    }

    article p:first-of-type {
        padding-top: 3em;
    }    
    
    article p:last-of-type {
        padding-bottom: 3em;
    }

    .skill-section i.fa{
        margin: 0 3%;
    }
    #cv-hobbies .fa {
        margin-right: 10px;
    }

    .sidebar #sidebar-profile-img {
        display: block;
        height: 200px;
        opacity: 0;
        width: 200px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
        padding: 0;
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        z-index: 1030;
        transition: all 0.5s;
        background-color: #fff;
        border: 1px solid #dee2e6;
    }

    .sidebar.profile-img #sidebar-profile-img {
        opacity: 1;
    }

    .sidebar h1 {
        margin-top: -200px;
    }

    .sidebar.profile-img h1 {
        margin-top: 20px;
    }

    #projects .project .info {
        bottom: -50%;
    }
    
    #projects .project:hover .info {
        bottom: 0;
    }
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }

@media (max-width: 450px) {
    .sidebar ul.external-links {
        position: relative;
    }

    .sidebar ul.external-links li {
        margin: auto 0.75em;
    }
}